/* primary (teal): #09B3C4 */
/* secondary (gold): #e7b43f */
/* secondary (red): #d05664 */

@import url('https://fonts.googleapis.com/css?family=Cabin|Homemade+Apple');


/* general element rules */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*general + body rules*/
/*debugging*/
/*body * {
  border-style: solid;
  border-width: thin;
  border-color: hotpink;
}*/

body {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  color: #09B3C4;
  margin: 5% 2%;
}

h1 a, h2, h4 {
  font-family: 'Homemade Apple', cursive;
}

a {
  color: #09B3C4;
  text-decoration: none;
}

a:hover, a:visited:hover {
  color: #d05664;
}


/*header rules*/
header {
  /*padding: 0 5%;*/
  margin: 5% 15%;
}

nav {
  width: 100%;
}

nav * {
  display: inline;
}

nav h1 {
  margin: 0 5%;
  font-size: 100%;
}

nav h1:last-child {
  padding: 0 2%;
}

.prof {
  /*max-width: 300px;
  max-height: 300px;*/
  max-width: 30%;
  max-height: 30%;
}

/*contact rules*/
section.contact ul {
  display: block;
  list-style: none;
  padding-left: 10%;
  margin: 5% 20%;
}

section.contact li {
  display: inline;
  padding: 0 2%;
}

section.contact img {
  width: 50px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

section.contact img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}


/*main projects/posts page rules*/
section#gallery {
  width: 100%;
  padding: 5% 10%;
  margin: 5% 5%;
}

article.project {
  /*display: inline-block;*/
  min-width: 500px;
  min-height: 600px;
  /*padding: 1% 2%;*/
  /*vertical-align: text-top;*/
  /*position: relative;*/
}

article.project * {
  margin: auto;
  /*text-align: center;*/
  padding: 0 10%;
}

article.project p.desc {
  display: none;
}

article.project h3 {
  /*text-align: center;*/
}

article.project img:hover + p.desc,
article.project h3:hover + p.desc,
article.project p.desc:hover {
  display: inline-block;
  margin-bottom: 5%;
  /*background: rgba(0, 0, 0, 0.6);*/
  text-align: justify;
  width: 80%;
  /*padding: 1%;*/
  /*position: absolute;
  bottom: 1%;
  width: 350px;*/
}

article.project img {
  max-width: 80%;
  max-height: 80%;
}

section#about {
  margin: 20% 20% 10% 20%;
}

section#about p {
  text-align: justify;
}

/*footer rules*/
footer {
  /*padding: 0 30%;*/
  margin: 10% 20%;
}

footer h6, footer h4 {
  text-align: center;
}
