/* primary (teal): #09B3C4 */
/* secondary (gold): #e7b43f */
/* secondary (red): #d05664 */

@import url('https://fonts.googleapis.com/css?family=Cabin|Homemade+Apple');

/* general element rules */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*general + body rules*/
/*debugging*/
/*body * {
  border-style: solid;
  border-width: thin;
  border-color: hotpink;
}*/

body {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  color: #09B3C4;
  margin: 5% 5%;
}

h1 a, h2, h4 {
  font-family: 'Homemade Apple', cursive;
}

a {
  color: #09B3C4;
  text-decoration: none;
}

a:hover, a:visited:hover {
  color: #d05664;
}

/*a:visited {
  color: #e7b43f;
}*/


/*header rules*/
header {
  /*padding: 0 5%;*/
  margin: 5% 15%;
}

nav {
  width: 100%;
}

nav * {
  display: inline;
  text-align: center;
}

nav h1 {
  /*padding: 0 2.5%;*/
  margin: 0 2.5%;
}

.prof {
  max-width: 300px;
  max-height: 300px;
}

/*contact rules*/
section.contact ul {
  display: block;
  list-style: none;
  padding-left: 10%;
  margin: 5% 30%;
}

section.contact li {
  display: inline;
  padding: 0 2%;
}

section.contact img {
  width: 50px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

section.contact img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/*main projects/posts page rules*/
section.gallery {
  width: 100%;
}

section.gallery {
  /*padding: 0 10%;
  min-width: 1500px;*/
  margin: 5% 5%;
}

article.project {
  display: inline-block;
  width: 500px;
  height: 600px;
  padding: 1% 2%;
  vertical-align: text-top;
  position: relative;
}

article.project p.desc {
  display: none;
}

article.project img:hover + p.desc,
article.project h3:hover + p.desc,
article.project p.desc:hover {
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  text-align: justify;
  padding: 1%;
  /*position: absolute;
  bottom: 1%;
  width: 350px;*/
}

article.project img {
  max-width: 500px;
  max-height: 500px;
}

section.bio {
  margin: 0 18%;
  text-align: justify;
}


/*footer rules*/
footer {
  /*padding: 0 30%;*/
  margin: 10% 38%;
}

footer * {
  display: inline;
  padding: 0 1%;
}

footer img {
  width: 50px;
}
